.env
*.pyc
# Book: Hands on LLM
.gguf
.cache
**/weights/**/*
**/training_*/**/*
**/training/**/*
**/gutenberg/**/*.json
**/gutenberg/model_checkpoints/*
*.pdf

# Book: LLMS from scratch
**/gpt2_model/**/*